---
layout: compress
---
<!DOCTYPE html>

<html>

	{% include head.html %}

	<body data-spy="scroll" data-offset="0" data-target="#theMenu">

		<div id="wrap">

			{% include header2016-melbourne.html %}

			{{ content }}

			{% include footer2016-melbourne.html %}

			<!-- Bootstrap core JavaScript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/classie.js"></script>
			<script src="/assets/js/bootstrap.min.js"></script>
			<script src="/assets/js/smoothscroll.js"></script>
			<script src="/assets/js/jquery.stellar.min.js"></script>
			<script src="/assets/js/fancybox/jquery.fancybox.js"></script>
			<script src="/assets/js/main.js"></script>
			<script>
				$(function(){
					$.stellar({
						horizontalScrolling: false,
						verticalOffset: 40
					});
				});
			</script>
			<script type="text/javascript">
				/* fancybox */
				$(function() {
					jQuery(".fancybox").fancybox();
				});
			</script>
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-57022534-1', 'auto');
				ga('send', 'pageview');
			</script>

		</div>
	</body>
</html>

