---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
 <div id="wrap">

    {% include 2017/header.html %}

	<div id="landingheader">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-4 mainblock">
							<h2>C◦mp◦se :: Conference</h2>
							<p>Feb. 2017</p>
              <p>
                <br/>
                <br/>
              </p>
						</div>
						<div class="col-md-8">
							<div class="view">&nbsp;</div>
						</div>
					</div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
            <div class="col-md-4 unconfblock">
							<h4>C◦mp◦se :: Unconference and Exchange</h4>
				      <p style="font-size:13px">
				      </p>
				      <p style="font-size:13px">An informal follow-on event
					where you can exchange ideas, hack on personal
					projects, and participate in informal talks.</p>
				      <p style="font-size:13px"><a href="#">Register
					at Eventbrite</a></p>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-4 block">
							<div class="reg">
								<p></p>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-4 block ">
							<div class="submit">
							<p>
								<i class="fa fa-edit fa-2x"></i> <br />
                Call for Talks <br/>
                C◦mp◦se 2017<br/>
                <a href="/2017/cfp/" class="landing-link">Info here</a>
							</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4 block">
							<div class="volunteer">
	                          <br />
							</div>
						</div>
					</div>

				</div>

				</div>
			</div><! --/row -->
		</div><! --/landingheader-->

        <!--
<div id="wrap">
	<div id="summaryrecap">
		<div class="container">
			<div class="row">
				<div class="col-md-12 overblock">
                    <p>We are accepting talk proposals for C◦mp◦se :: Conference 2017. See the details below. </p>
                    <h3><a href="http://composeconference.org/2017/cfp/">http://composeconference.org/2017/cfp/</a></h3>
                    <p>&nbsp;</p>
                </div>
            </div>
			<div class="row">
				<div class="col-md-12 overblock">
                  <p>&nbsp;</p>
                    <p><a href="/2015/">C◦mp◦se :: Conference 2015</a> is over but you can still check out all the <a href="/2015/summary/">great videos</a>!</p>
                    <h3><a href="http://composeconference.org/2015/summary/">http://composeconference.org/2015/summary</a></h3>
                </div>
            </div>
        </div>
    </div>
    -->
	<section id="about" name="about"></section>
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 name">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo">
							<a class="haskell" href="https://www.haskell.org">
							<img class="img-responsive" src="/assets/img/logos/haskell_color.png">
							Haskell
							</a>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo">
							<a class="fsharp" href="http://fsharp.org/">
							<img class="img-responsive" src="/assets/img/logos/fsharp_color.png">
							F#
							</a>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo">
							<a class="ocaml" href="https://ocaml.org/">
							<img class="img-responsive" src="/assets/img/logos/ocaml_color.png">
							OCaml
							</a>
						</div>
			           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo">
			             <a class="sml" href="http://sml-family.org/">
			            <img class="img-responsive" src="/assets/img/logos/sml_color.png">
			             SML
			           </a>
			           </div>
					</div>

				</div><! --/col-lg-4-->
				<div class="col-lg-8 col-md-8 col-sm-8 name-desc">
					<h2>C◦mp◦se :: Conference</h2>
					<h3>The practice and craft of functional programming</h3>


					<div class="col-lg-6 col-md-6 col-sm-6 words-nomargin">
						<p>Compose is a conference for typed functional programmers, focused specifically on Haskell, OCaml, F#, SML, and related technologies.</p>
						<p>Typed functional programming has been taken up widely, by industry and hobbyists alike. For many of us it has renewed our belief that code should be beautiful, and that programming can be as enjoyable as it is practical. Compose is about bringing together functional programmers of all levels of skill and experience — from technical leads to novices, and from long-time hackers to students just getting started.</p>

					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<p>Our experiences have shown that the theoretical can be put into practice with great success, and that topics once considered “advanced” can be made understandable and spread widely. For example, type systems, often considered complex, can simplify our lives by teaching compilers to do some of our reasoning for us.</p>
						<p>Compose is about learning together — sharing knowledge, insights, techniques, and sometimes just awesome things we made.</p>
					</div>

				</div><! --/col-lg-8-->

			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->

<div class="sep talk" data-stellar-background-ratio="0.5" style="background-position: 50% -91.5px;"></div>

  <div id="portfoliowrap">
    <div class="container">

      <div class="row">
        <h1>KEYNOTE</h1>
      </div>


      <div class="row mt">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 topic">
          <p class="text">
          </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        </div>
      </div>
    </div>

    <div class="container">
			<div class="row mt centered">
				<h1>SCHEDULE</h1>
                <!--
				<div class="col-lg-3 col-md-3 col-sm-3 proc">
					<i class="fa fa-comments"></i>
					<h3>Thursday, Feb 4: Conference</h3>
					<p></p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 proc">
					<i class="fa fa-comments-o"></i>
					<h3>Friday, Feb 5: Conference</h3>
					<p></p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 proc">
					<i class="fa fa-code"></i>
					<h3>Saturday, Feb 6: Unconference</h3>
					<p>10am-7pm</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 proc">
					<i class="fa fa-code"></i>
					<h3>Sunday, Feb 7: Unconference</h3>
					<p>10am-5pm</p>
				</div>
                -->
			</div><!-- --/row ---->
		</div>
  </div>  

		<div class="sep portfolio" data-stellar-background-ratio="0.5" style="background-position: 50% -104px;"></div>

		<div id="locations">
		<div class="container">
			<div class="row">
				<div class="col-lg-8-offset-2 centered">
					<h1>Location</h1>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 centered">
					<h1></h1>
					<h3></h3>
					<p><br>
					   </p>
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6 col-md-6 col-sm-6 centered">
					<h1></h1>
					<h3></h3>
					<p><br>
     				 <br></p>
				</div><!-- /col-lg-6 -->
			</div><!-- --/row ---->
    </div>
    </div>

		<div id="servicewrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8-offset-2 centered">
					<h1>Registration</h1>
                    <h2>&nbsp;</h2>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<table class="table table-bordered">
						<tbody><tr><th>Event</th><th>Cost</th></tr>
						<tr><td>
							<a href="http://composeconference.eventbrite.com">Conference Only</a> <br/>
                            <br></td><td> </td></tr>
						<tr><td>
							Unconference</td><td>Free</td></tr>
					</tbody></table>
				</div><!-- /col-lg-5 -->
				<div class="col-lg-6 col-md-6 col-sm-6">
					<p>
						Please sign up for both tickets if you're planning to attend for the full duration of C◦mp◦se.
					<!-- Registration for the conference (Friday &amp; Saturday) is now closed because we are at capacity for the venue. Thanks for all the interest! If you were on the waiting list or had contacted us, we're working on getting you tickets still, don't worry. -->
					</p>
				</div>
			</div><!-- --/row ---->


		</div><!-- --/container ---->
	</div>

		</div><!-- --/container ---->
	</div>

  <div id="sponsors">
    <div class="container">
      <div class="row">
        <div class="col-lg-8-offset-2 col-md-8-offset-2 col-sm-8-offset-2 mt">
            <p>Interested in sponsoring? We have <a href="/2016/sponsors/prospectus">information available</a> on how you can become a sponsor for C◦mp◦se.</p>
        </div><!-- --/col-lg-8 ---->

      </div><!-- --/row ---->
    </div><!-- --/container ---->
  </div>
  
  <hr style="border:1px dotted #eee; "/>

  <div id="tutorialswrap">
  <div class="container">
    <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 centered">
        <h2>Commercial Tutorials<br><small>These events require separate registration; information provided in the links below.</small></h2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <p class="text-left">
        </p>
        <p class="text-left">
        </p>
      </div>

    </div><!-- /row -->
  </div>
  </div>

  <hr style="border:1px dotted transparent; "/>

  <section id="who" name="who"></section>
  <div id="committeewrap">
  <div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 centered">
    		<h2>Organizers</h2>
    	</div>
    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ">
    		<img src="http://photos4.meetupstatic.com/photos/event/6/c/c/c/global_177507852.jpeg" class="img-responsive" />
    	</div>
    	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
    		<p class="history">
    			C◦mp◦se is organized by the organizers of the <a href="http://www.meetup.com/NY-Haskell/">New York Haskell Users Group</a>, <a href="/2016/organizers/">namely: Doug Beardsley, Gershom Bazerman, Kat Chuang, Rick Minerich, and Ryan Trinkle.</a> <br/>
    		</p>
    		<p class="history">
    			We welcome more people wanting to get involved as functional programming community organizers, and if you'd like to pitch in, please write us and let us know!
    		</p>
    	</div>
    </div><!-- /row -->
  </div>
  </div>

	<div id="footer" style="display: block;">
	  	<div id="footer-inner">
	    	<div id="footer-auto">

	    	 	<div class="col-lg-12 col-md-12 col-sm-12">
	    	 		<div class="col-inner-hori">
	    	 			<hr>
	    	 		</div>
	    	 	</div>

	    	 	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	    	 		<div class="col-inner-hori">
	    	 			<a href="http://composeconference.org" class="history">C◦mp◦se :: Conference</a><br>
	    				The practice and craft of functional programming<br />
	    				<a href="conduct/index.html">Code of Conduct</a></div>
	    	 	</div>
	    	  	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	    	  		<div class="col-inner-hori">
	    	  			<p>2017<br> NYC</p>
	    	  		</div>
	    	  	</div>
	    	  	<div class="col-lg-3 col-md-3 col-sm-12">
	    	  		<div class="col-inner-hori">
	    				  <p><a href="mailto:info@composeconference.org">info@composeconference.org</a><br></p>
	    	  		</div>
	    	  	</div>
	    	  	<div id="social-icons" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
	    	  		<div class="col-inner-hori align-right">
	      				<a href="mailto:info@composeconference.org" target="_blank" id="mail-icon" class="right">
	      					<i class="fa fa-envelope fa-2x fa-fw"></i>
	      				</a>
	      				<a href="https://twitter.com/composeconf" target="_blank" id="twitter-icon" class="right">
	      					<i class="fa fa-twitter fa-2x fa-fw"></i>
	      				</a>
	    	  		</div>
	    	  	</div>

	      </div>
	  	</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/classie.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/smoothscroll.js"></script>
	<script src="/assets/js/jquery.stellar.min.js"></script>
	<script src="/assets/js/fancybox/jquery.fancybox.js"></script>
	<script src="/assets/js/main.js"></script>
		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>

		<script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });
	   </script>
	   <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57022534-1', 'auto');
          ga('send', 'pageview');
		</script>
</div>
  </body>
</html>
