
<div id="footer" style="display: block;">
	<div id="footer-inner">
		<div id="footer-auto">

			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="col-inner-hori">
					<hr />
				</div>
			</div>

			<div class="col-sm-2 col-sm-offset-4">
				<div class="col-inner-hori">
					<p>Photography:</p>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="col-inner-hori">
					<a href="http://i.imgur.com/qItrYQ1.jpg">Skyline</a>
					by
					<a href="https://www.reddit.com/user/seeaich">seeaich</a>
					on
					<a href="https://www.reddit.com/r/melbourne/comments/4gfo0b/cbd_mlb_did_i_do_our_city_justice/">Reddit.</a>
				</div>

				<div class="col-inner-hori">
					<a href="https://littlestings.carbonmade.com/projects/6041042">Skyline Vector</a>
					by
					<a href="https://littlestings.carbonmade.com/">Little Stings</a>.
				</div>

				<div class="col-inner-hori">
					<a href="https://www.flickr.com/photos/visitmelbourne/12735524883/in/photolist-kpoTRe-kpoRTg-kpqF2d-okVcoM-kpo3dt-kpqFr1-dXiwYy-dXcRAX-kmLBB4-dXcRnt-pZE6Mt-kmQVsi-dX"
						>White Night</a>
					by
					<a href="https://www.flickr.com/photos/visitmelbourne/">Tourism Victoria</a>
					on
					<a href="https://www.flickr.com/">Flickr.</a>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="col-inner-hori">
					<hr />
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="col-inner-hori">
					<a href="http://composeconference.org" class="history">C◦mp◦se :: Conference</a><br />
					The practice and craft of functional programming<br />
					<a href="conduct/index.html">Code of Conduct</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="col-inner-hori">
					<p>
					Aug. 29 - 30, 2016 <br /> Melbourne, Australia
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="col-inner-hori">
					<p>
						<a href="mailto:composemel-admin@googlegroups.com">composemel-admin@googlegroups.com</a>
						<br />
						<a href="mailto:info@composeconference.org">info@composeconference.org</a>
					</p>
				</div>
			</div>
			<div id="social-icons" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="col-inner-hori align-right">
					<a href="mailto:info@composeconference.org" target="_blank" id="mail-icon" class="right">
						<i class="fa fa-envelope fa-2x fa-fw"></i>
					</a>
					<a href="https://twitter.com/composeconf" target="_blank" id="twitter-icon" class="right">
						<i class="fa fa-twitter fa-2x fa-fw"></i>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>
