<section id="topheader">
  <div id="hh" class="melbourne">
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-11">
      <div class="col-inner-hori">
        <a href="/" id="logo-main" class="history" alt="" title="">
          <img src="/assets/img/logo-no-text.svg" title="Compose Conference" alt="Compose Conference Logo" />
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-1">
      <ul class="sections nav nav-pills nav-justified">
        <!-- <li class="hidden-xs"><a href="https://composeconference.eventbrite.com TODO" class="smoothScroll">Register</a> </li> -->
        <li class="hidden-xs"><a href="/2016-melbourne/cfp/" class="smoothScroll">CFP (Closed)</a></li>
        <li class="hidden-xs"><a href="/2016-melbourne/sponsors/">Sponsors</a></li>
        <li class="hidden-xs"><a href="/2016-melbourne/faq/">FAQ</a></li>
        <li class="hidden-xs"><a href="/2016-melbourne/speaker-faq/">Speaker FAQ</a></li>
        <li class="hidden-xs"><a href="/2016-melbourne/unconference/">Unconference</a></li>
        <!-- <li class="hidden-xs"><a href="/2016-melbourne/unconference/">Unconference</a></li> -->
        <li class="hidden-xs"><a href="/conduct/" class="smoothScroll">Policies</a></li>

        <li class="visible-xs">
          <!-- Menu -->
          <nav class="menu" id="theMenu">
            <div class="menu-wrap">
              <h1 class="logo"><a href="/">C◦mp◦se</a></h1>
              <i class="fa fa-times menu-close"></i>

              <!-- <a href="https://composeconference.eventbrite.com TODO" class="smoothScroll">Register</a> -->
              <a href="/2016-melbourne/cfp/" class="smoothScroll">CFP</a>
              <a href="/2016-melbourne/sponsors/">Sponsors</a>
              <a href="/2016-melbourne/faq/">FAQ</a>
              <a href="/2016-melbourne/speaker-faq/">Speaker FAQ</a>
              <a href="/2016-melbourne/unconference/">Unconference</a>
              <!-- <a href="/2016-melbourne/unconference/">Unconference</a> -->
              <a href="/conduct/" class="smoothScroll">Policies</a>

              <a href="http://twitter.com/composeconf"><i class="fa fa-twitter"></i></a>
              <a href="mailto:info@composeconference.org"><i class="fa fa-envelope"></i></a>
            </div>
            <!-- Menu button -->
            <div id="menuToggle"><i class="fa fa-bars"></i></div>
          </nav>
        </li>
      </ul>
    </div>
  </div>
</section>
