
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="haskell" href="https://www.haskell.org">
        <img class="img-responsive" src="/assets/img/logos/haskell_color.png">
        Haskell
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="fsharp" href="http://fsharp.org/">
        <img class="img-responsive" src="/assets/img/logos/fsharp_color.png">
        F#
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="ocaml" href="https://ocaml.org/">
        <img class="img-responsive" src="/assets/img/logos/ocaml_color.png">
        OCaml
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="haskell" href="http://elm-lang.org/">
        <img class="img-responsive" src="/assets/img/logos/elm_color.png">
        Elm
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="haskell" href="http://elixir-lang.org/">
        <img class="img-responsive" src="/assets/img/logos/elixir_color.png">
        Elixir
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="haskell" href="http://www.scala-lang.org/">
        <img class="img-responsive" src="/assets/img/logos/scala_color.png">
        Scala
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="sml" href="http://www.idris-lang.org/">
        <img class="img-responsive" src="/assets/img/logos/idris_color.png">
        Idris
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="sml" href="https://mercurylang.org/">
        <img class="img-responsive" src="/assets/img/logos/mercury_color.png">
        Mercury
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="sml" href="http://www.purescript.org/">
        <img class="img-responsive" src="/assets/img/logos/purescript_color.png">
        Purescript
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="sml" href="http://wiki.portal.chalmers.se/agda/pmwiki.php">
        <img class="img-responsive" src="/assets/img/logos/agda_color.png">
        Agda
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="sml" href="https://coq.inria.fr/">
        <img class="img-responsive" src="/assets/img/logos/coq_color.png">
        Coq
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 logo">
        <a class="sml" href="http://sml-family.org/">
        <img class="img-responsive" src="/assets/img/logos/sml_color.png">
        SML
        </a>
    </div>
</div>
